* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #525151;
    background-blend-mode: overlay;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px #aaaaaa;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-holder {
    text-align: center;
}

.crypto-main{
    display: flex;
    align-items: center;
}

.crypto-name{
    margin-left: 5px;
    text-transform: uppercase;
}

.weather-wrapper {
    margin-right: 2em;
}
.weather-city{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.weather-info > p{
    margin-bottom: 0;
}


